* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /*Earthly Tones Palette:*/
    --EarthlyTones-Background-color: #F2EAE3;
    --EarthlyTones-HeaderFooter-color: #4C3523;
    --EarthlyTones-Text-color: #333333;
    --EarthlyTones-ButtonLinks-color: #7A601F;
    --EarthlyTones-CategoryHighlight-color: #A98756;

    /*Deep Blues Palette:*/
    --DeepBlues-Background-color: #E5EDF9;
    --DeepBlues-HeaderFooter-color: #112F5C;
    --DeepBlues-Text-color: #333333;
    --DeepBlues-ButtonLinks-color: #F29F05;
    --DeepBlues-CategoryHighlight-color: #1B4F72;

    /*Antique and Vintage Palette:*/
    --AntiqueVintage-Background-color: #F8F4E2;
    --AntiqueVintage-HeaderFooter-color: #A58E68;
    --AntiqueVintage-Text-color: #333333;
    --AntiqueVintage-ButtonLinks-color: #f3e4c8;
    --AntiqueVintage-CategoryHighlight-color: #C9A270;

    /*Bookish Warm  Palette:*/
    --BookishWarm-Background-color: #FFF0F0;
    --BookishWarm-HeaderFooter-color: #732A24;
    --BookishWarm-Text-color: #333333;
    --BookishWarm-ButtonLinks-color: #FFA07A;
    --BookishWarm-CategoryHighlight-color: #A93226;

    /*Neutral Backgrounds Palette:*/
    --NeutralBackgrounds-Background-color: #F5F5F5;
    --NeutralBackgrounds-HeaderFooter-color: #333333;
    --NeutralBackgrounds-Text-color: #333333;
    --NeutralBackgrounds-ButtonLinks-color: #007BFF;
    --NeutralBackgrounds-CategoryHighlight-color: #666666;

    /*Contrasting Accent Palette:*/
    --ContrastingAccent-Background-color: #FAFAFA;
    --ContrastingAccent-HeaderFooter-color: #003049;
    --ContrastingAccent-Text-color: #333333;
    --ContrastingAccent-ButtonLinks-color: #FF6B6B;
    --ContrastingAccent-CategoryHighlight-color: #35A7FF;

    /*Main Titles*/
    --MainTitles-font:'Noto Serif Old Uyghur', serif;
}
.lang {
    position: absolute;
    top: 30%;
}
.lang a:hover {
    color: #732A24;
}
.container {
    margin: 0 5%;
}
/* Initial Settings */
body {
    background-color: var(--AntiqueVintage-Background-color);
    color: var(--AntiqueVintage-Text-color);
}
h1, h2, h3 {
    font-family: var(--MainTitles-font);
}
button {
    text-decoration: none;
    background-color: var(--AntiqueVintage-ButtonLinks-color);
}
a {
    text-decoration: none;
    color: var(--AntiqueVintage-ButtonLinks-color);
}
li {
    list-style: none;
}
header {
    width: 100%;
    background-color: var(--AntiqueVintage-HeaderFooter-color);
    padding: 1em;
    position: fixed;
    z-index: 999;
}
/* Main Menu - Header */
.social, .main-menu ul, header > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.social {
    gap: .8em;
}
.header-title {
    text-align: center;
    text-transform: uppercase;
}
.header-title h1 {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 5px;
}
.main-menu ul {
    gap: .8em;
}
.main-menu ul li a {
    text-transform: uppercase;
    font-size: .8em;
}
.main-menu ul li a:hover {
    color: #A93226;
}
/* menu Store dropdown */
.menu-dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #faf7f4;
    border: 1px solid #ccc;
    padding: 1em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.dropdown-content li a {
    color: #732A24;
}
.menu-dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
}
/* Hero Section */
.hero-section {
    z-index: -1;
    background-image: url(./assets/bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    height: 100vh;
}
.hero-section > .container {
    z-index: 2;
}
.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5f160fec;
    padding: 2em;
    text-align: center;
    color: rgb(226, 226, 226);
    border-radius: 8px;
}
.hero-title h1 {
    text-transform: uppercase;
    font-size: 3em;
}
.hero-title p {
    font-size: 1.5em;
}
/* Featured Books Section*/
.featured {
    background-color: var(--AntiqueVintage-Background-color);
    min-height: 100vh;
}
.featured > .container h2 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
}
.featured-books-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3em;
}
.book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 1em;
    background-color: #ffe5b5;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.479);
    min-height: 580px;
}
.book-card img {
    height: 100%;
    width: 100%;
}
.book-card h3 {
    text-align: center;
    padding-top: .8em;
    font-size: 1em;

}
.author {
    padding-bottom: 1em;
}
/* Hide the "Read More" link initially */
.more-text {
    display: none;
}
.book-synopsis {
    max-height: 80px; /* Adjust as needed */
    overflow: hidden;
    margin-bottom: 10px;
}
.book-synopsis p { 
    text-align: justify;
    font-size: .9em;
}

.book-card:hover .book-synopsis {
    max-height: 100%; /* Expands to fit content on hover */
}

/* Style the "Read More" link */
.read-more {
    color: #007BFF; /* Change color to fit your design */
    cursor: pointer;
}

/* When clicked, show the additional text */
.read-more.clicked + .more-text {
    display: block;
}
.buttons > button {
    border: none;
    background-color: #003049;
    padding: 1em;
    cursor: pointer;
}
.buttons > button:hover {
    background-color: #02527e;
}