* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /*Earthly Tones Palette:*/
    --EarthlyTones-Background-color: #F2EAE3;
    --EarthlyTones-HeaderFooter-color: #4C3523;
    --EarthlyTones-Text-color: #333333;
    --EarthlyTones-ButtonLinks-color: #7A601F;
    --EarthlyTones-CategoryHighlight-color: #A98756;

    /*Deep Blues Palette:*/
    --DeepBlues-Background-color: #E5EDF9;
    --DeepBlues-HeaderFooter-color: #112F5C;
    --DeepBlues-Text-color: #333333;
    --DeepBlues-ButtonLinks-color: #F29F05;
    --DeepBlues-CategoryHighlight-color: #1B4F72;

    /*Antique and Vintage Palette:*/
    --AntiqueVintage-Background-color: #F8F4E2;
    --AntiqueVintage-HeaderFooter-color: #A58E68;
    --AntiqueVintage-Text-color: #333333;
    --AntiqueVintage-ButtonLinks-color: #f3e4c8;
    --AntiqueVintage-CategoryHighlight-color: #C9A270;

    /*Bookish Warm  Palette:*/
    --BookishWarm-Background-color: #FFF0F0;
    --BookishWarm-HeaderFooter-color: #732A24;
    --BookishWarm-Text-color: #333333;
    --BookishWarm-ButtonLinks-color: #FFA07A;
    --BookishWarm-CategoryHighlight-color: #A93226;

    /*Neutral Backgrounds Palette:*/
    --NeutralBackgrounds-Background-color: #F5F5F5;
    --NeutralBackgrounds-HeaderFooter-color: #333333;
    --NeutralBackgrounds-Text-color: #333333;
    --NeutralBackgrounds-ButtonLinks-color: #007BFF;
    --NeutralBackgrounds-CategoryHighlight-color: #666666;

    /*Contrasting Accent Palette:*/
    --ContrastingAccent-Background-color: #FAFAFA;
    --ContrastingAccent-HeaderFooter-color: #003049;
    --ContrastingAccent-Text-color: #333333;
    --ContrastingAccent-ButtonLinks-color: #FF6B6B;
    --ContrastingAccent-CategoryHighlight-color: #35A7FF;

    /*Main Titles*/
    --MainTitles-font:'Noto Serif Old Uyghur', serif;
}
.lang {
    position: absolute;
    top: 37%;
}

.lang a:hover {
    color: #732A24;
}
.container {
    margin: 0 5%;
}
/* Initial Settings */
body {
    background-color: var(--AntiqueVintage-Background-color);
    color: var(--AntiqueVintage-Text-color);
}
h1, h2, h3 {
    font-family: var(--MainTitles-font);
}
button {
    text-decoration: none;
    background-color: var(--AntiqueVintage-ButtonLinks-color);
}
a {
    text-decoration: none;
    color: var(--AntiqueVintage-ButtonLinks-color);
}
li {
    list-style: none;
}
header {
    width: 100%;
    background-color: var(--AntiqueVintage-HeaderFooter-color);
    padding: 1em;
    position: fixed;
    z-index: 999;
}
/* Main Menu - Header */
.social, .main-menu ul, header > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.social {
    gap: .8em;
}
header > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-title {
    text-align: center;
    text-transform: uppercase;
}
.header-title h1 {
    margin: 0;
    padding: 0;
}
.header-title h1 > a{
    font-size: .6em;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
    color:#003049;
    font-family: var(--MainTitles-font);
}
.main-menu ul {
    gap: .8em;
}
.main-menu ul li a {
    text-transform: uppercase;
    font-size: .8em;
}
.main-menu ul li a:hover {
    color: #A93226;
}
/* menu Store dropdown */
.menu-dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #faf7f4;
    border: 1px solid #ccc;
    padding: 1em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.dropdown-content li a {
    color: #732A24;
}
.menu-dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
}
/* Hero Section */
.hero-section {
    z-index: -1;
    background-image: url(./assets/bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    height: 100vh;
}
.hero-section > .container {
    z-index: 2;
}
.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5f160fec;
    padding: 2em;
    text-align: center;
    color: rgb(226, 226, 226);
    border-radius: 8px;
}
.hero-title h1 {
    text-transform: uppercase;
    font-size: 3em;
}
.hero-title p {
    font-size: 1.5em;
}
/* Featured Books Section*/
.featured {
    background-color: var(--AntiqueVintage-Background-color);
    min-height: 100vh;
    padding-bottom: 3em;
    padding-top: 3em;
    border-bottom: 3px solid rgba(255, 171, 62, 0.61);
}
.featured > .container h2 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
}
.featured-books-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3em;
}
.book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 1em;
    background-color: #ffe5b5;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.479);
    min-height: 580px;
}
.book-card img {
    height: 100%;
    width: 100%;
}
.book-card h3 {
    text-align: center;
    padding-top: .8em;
    font-size: 1em;
}
.author {
    padding-bottom: 1em;
}
.book-synopsis {
    max-height: 80px;
    overflow: hidden;
    margin-bottom: 10px;
}
.book-synopsis p { 
    text-align: justify;
    font-size: .9em;
}
.book-card:hover .book-synopsis {
    max-height: 100%;
}
.card-title-container {
    min-height: 80px;
    text-align: center;
}
.card-buttons {
    justify-self: flex-end;
}
.card-buttons > button, .btn-list {
    border: none;
    background-color: #003049;
    padding: 1em;
    cursor: pointer;
    border-radius: 8px;
}
.card-buttons > button:hover, .btn-list:hover {
    background-color: #02527e;
}
/* categories section*/
.book-categories {
    padding-top: 4em;
    background-color: var(--AntiqueVintage-CategoryHighlight-color);
}
.book-categories > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}
.book-categories > .container h2 {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 1em;
}
.category-container {
    padding: 2em;
    border-radius: 8px;
    background-color: rgba(255, 226, 199, 0.849);
    margin-bottom: 2em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.671);
}
.category-container h3 {
    text-transform: uppercase;
    width: 100%;
    text-align: left;
}
.category-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}
.category-list {
    margin: 1em 0;
}
.category-list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
}
.category-list ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    min-height: 300px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.575);
    background-color: rgb(255, 241, 212);
    padding: .6em;
}
.category-list ul li p {
    text-align: center;
    padding-bottom: .5em;
    font-weight: 800;
}
.category-list ul li img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.list-more {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
}
.list-more:hover {
    color: #003049;
}
.other-category {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #1d1d1d;
}
.other-category:hover {
    color: #003049;
}
.category-image-container {
    height: 200px;
}
/* About Us */
.about {
    background-color: var(--AntiqueVintage-Background-color);
    min-height: 100vh;
    padding-top: 3em;
}
.about > .container, .about-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
    text-align: justify;
}
.about-text-container {
    margin: 0 5%;
}
.about > .container h2 {
    padding: 2em;
    text-transform: uppercase;
}
.about-text-container h3 {
    width: 100%;
    text-align: left;
}
/*Contact Us*/
.contact-section {
    background-color: var(--AntiqueVintage-CategoryHighlight-color);
    padding: 2em;
}
.contact-section > .container {
    margin: auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 237, 205, 0.822);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.548);
}
.contact-section-title {
    text-transform: uppercase;
    padding-top: 3em;
}
.contact-form {
    padding: 2em 0;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    background-color: cornsilk;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.548);
    border-radius: 8px;
}
.contact-form label {
    font-size: 1.2em;
}
.contact-form input {
    height: 30px;
    width: 400px;
    outline: none;
    padding-left: .5em;
}
.contact-form textarea {
    font-size: 1.2em;
    width: 400px;
    resize: none;
    outline: none;
    padding-left: .5em;
}
.contact-form button {
    width: 100px;
    height: 40px;
    align-self: center;
    margin: 1em 0;
    outline: none;
    background-color: #003049;
    font-weight: bold;
    border: none;
    color: rgb(255, 250, 240);
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #002d5e;
}